a {color:#404886}
a:visited {color:#404886}
a:active {color:blue}
#h {background:#808080;color:white}
#a {background:#e8e8e8}
#b {background:white}
.normaltext {font-size:9pt;font-family:Arial}
.b-normal {font:bold 9pt Arial}
.smalltext {font-size:8pt;font-family:'MS Sans Serif'}
.small {font-size:8pt;font-family:'Arial'}
.xsmalltext {font-size:7.1pt;font-family:Arial; text-align: justify}
.newsdate {font: 7.1pt Arial;color:black}
.newshead, .headline {font:bold 12pt Arial;color:black}
.news {font:9pt Arial;color:black}
.update {font:7.1pt Arial; color:darkgray}
.th-small {font: bold 8pt 'MS Sans Serif';background-color:#FF0000;color:white}
.th-xsmall {font: bold 8pt Arial;background-color:#404886;color:white}
pre {font-size:9pt;font-family:monospace 'Courier';margin-top:0}
body {margin:0px 0px}
form {display:inline;margin:0 0 0 0}
table.menu {margin-left:6px;margin-bottom:6px}
td.menuhead {background:#FF0000 url(i/menu-head-bg.gif);padding-left:1px;color:#FFFFFF;font:bold 8pt "MS Sans Serif"}
a.menuhead {color:#FFFFFF;text-decoration:none;font:bold 8pt Arial}
td.menuitem {background:url(i/bgm.jpg);font:9px Arial;padding-left:4px}
a.menuitem {font-size:9pt;font-family:'MS Sans Serif';color:#404886;text-decoration:none}
a.menuitemlong {font:9px Arial;color:#404886;text-decoration:none}
div.abbrev {font:7.1pt Arial;color:#a0a0a0}
table.stats {margin-top:8px}
th.stats {font:bold 8pt Arial;background-color:#b0c4de;padding-left:6px}
td.stats {font:9pt Arial;padding-left:6px}
td.sitestats {font:9pt Arial;padding-left:6px;text-decoration:underline}
a.bottom {font-size:8pt;font-family:'MS Sans Serif';color:#808080}
a.bottom:visited {font-size:8pt;font-family:'MS Sans Serif';color:#808080}
div.bottom {font:8pt 'MS Sans Serif';color:#808080;padding-left:6px;padding-bottom:4px}
table.cross {margin-top:4px;margin-bottom:4px;background-color:silver}
th.cross {background-color:#404886;font:bold 8pt Arial;color:white}
td.cross {background-color:white;font:8pt Arial;color:black}
td.crossself {background-color:#d8d8d8}
#dn {display:none}


  a.menuitem:hover { font-size:9pt;font-family:"MS Sans Serif";color:#3366FF;text-decoration:underline}
a.menuitemlong:hover { font:9px Arial;color:#FF0000;text-decoration:underline}
.logo1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bold; color: #FFFFFF}
.smalinput { font:7.1pt Arial;color:#404886;text-decoration:none }
td.menuhead2 { background:#5A0501;padding-left:4px;color:#FFFFFF;font:bold 8pt "MS Sans Serif" }
a.menuitem2 { font:7.1pt Arial;padding-left:4px }
td.menuitem2 { font:7.1pt Arial;padding-left:4px }
td.menuhead3 { background:#4448EA;padding-left:4px;color:#FFFFFF;font:bold 8pt "MS Sans Serif" }
td { font:9px Verdana, Arial, Helvetica, sans-serif}a.foto {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #333399; text-decoration: underline}
a.foto:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #FF0000; text-decoration: none}
a.menuhead:hover { color:#FFFFFF;text-decoration:underline;font:bold 8pt Arial }
a.menuhead:visited { color:#FFFFFF;text-decoration:none;font:bold 8pt Arial }
