/*html { min-width: 1429px; }*/
html { min-width: 1120px; }

body, td, div	{font-family: Helvetica, Pragmatica, Sans-Serif, Arial, Verdana; }
form		{margin:0;}

h1		{margin: 0.5em 0; padding-left: 25px; font-size: 16px; font-weight: bold; color: #4f5b5e;/*#8FA99A;*/}
/*h2		{margin: 0.5em 0; padding-left: 5px; font-size: 110%; font-weight: bold; color: #8FA99A;}*/
h2		{margin: 1em 0 0.3em 0; font-size: 120%;}
h3		{margin: 1em 0 0.3em 0; font-size: 120%;}
h4		{margin: 1em 0 0.3em 0; font-size: 100%;}

table.menu				{ CURSOR: pointer; }
table.menu	td.text1		{background: #8cb0d4; border-top: #FFFFFF 1px solid; border-bottom: #FFFFFF 1px solid; font-size: 11px; color: #4E5C69; vertical-align: middle; padding-left: 5px; padding-right: 10px; line-height: 70%;}
table.menu	td.text1	a 	{color:#4E5C69; text-decoration: none;}
table.menu	td.text2		{background: #aca2cf; border-top: #FFFFFF 1px solid; border-bottom: #FFFFFF 1px solid; font-size: 11px; color: #4E5C69; vertical-align: middle; padding-left: 5px; padding-right: 10px; line-height: 70%;}
table.menu	td.text2	a 	{color:#4E5C69; text-decoration: none;}
table.menu	td.text3		{background: #89c768; border-top: #FFFFFF 1px solid; border-bottom: #FFFFFF 1px solid; font-size: 11px; color: #4E5C69; vertical-align: middle; padding-left: 5px; padding-right: 10px; line-height: 70%;}
table.menu	td.text3	a 	{color:#4E5C69; text-decoration: none;}
table.menu	td.text4		{background: #b8948a; border-top: #FFFFFF 1px solid; border-bottom: #FFFFFF 1px solid; font-size: 11px; color: #4E5C69; vertical-align: middle; padding-left: 5px; padding-right: 10px; line-height: 70%;}
table.menu	td.text4	a 	{color:#4E5C69; text-decoration: none;}
table.menu	td.text5		{background: #e1c660; border-top: #FFFFFF 1px solid; border-bottom: #FFFFFF 1px solid; font-size: 11px; color: #4E5C69; vertical-align: middle; padding-left: 5px; padding-right: 10px; line-height: 70%;}
table.menu	td.text5	a 	{color:#4E5C69; text-decoration: none;}

table.menu	td.text7		{background: #8cb0d4; border-top: #FFFFFF 1px solid; border-bottom: #FFFFFF 1px solid; font-size: 11px; color: #4E5C69; vertical-align: middle; padding-left: 5px; padding-right: 10px; line-height: 70%;}
table.menu	td.text7	a 	{color:#4E5C69; text-decoration: none;}

table.head				{font-size: 12px;}
table.head	td			{vertical-align: top; }
table.head	td.dot			{vertical-align: bottom; }
table.head	td	div.upmenu	{color: #92C87B; background: url(/images/m-arr.gif) no-repeat left; padding-left: 10px; }
table.head	td	div.upmenu a	{color: #41ad49;/*#4C8C63;*/ text-decoration: none; } 
table.head	td	div.upmenu a:hover	{color: #4C8C63; text-decoration: underline; } 
table.head	td	div.menu	{background: url(/images/m-arr.gif) no-repeat left; padding-left: 10px; }
table.head	td	div.menu a	{color: #495E50; text-decoration: none; } 

table.head	td	div.head1	{background: url(/images/m1-arr.gif) no-repeat left; padding-left: 10px; }
table.head	td	div.head1 a	{color: #495E50; text-decoration: none; font-weight: bold;} 
table.head	td	div.head2	{background: url(/images/m2-arr.gif) no-repeat left; padding-left: 10px; }
table.head	td	div.head2 a	{color: #495E50; text-decoration: none; font-weight: bold;} 
table.head	td	div.head3	{background: url(/images/m3-arr.gif) no-repeat left; padding-left: 10px; }
table.head	td	div.head3 a	{color: #495E50; text-decoration: none; font-weight: bold;} 
table.head	td	div.head4	{background: url(/images/m4-arr.gif) no-repeat left; padding-left: 10px; }
table.head	td	div.head4 a	{color: #495E50; text-decoration: none; font-weight: bold;} 
table.head	td	div.head5	{background: url(/images/m5-arr.gif) no-repeat left; padding-left: 10px; }
table.head	td	div.head5 a	{color: #495E50; text-decoration: none; font-weight: bold;} 

table.search			{font-size: 11px; color: #495E50; vertical-align: middle; }
table.search	td.input	{font-size: 9px; color: #FFFFFF; padding-left: 5px; background: url(/images/search-l.gif) no-repeat left;}
table.search	td.input input	{font-size: 9px; color: #FFFFFF; background: #4f5b5e;/*#8FA99A;*/  border: 0px solid;}


table.bnav		{font-size: 12px; color: #FFFFFF; background: #4f5b5e;/*#8FA99A;*/ }

table.intbnav		{margin: 5px; font-size: 100%; color: #FFFFFF; background: #4f5b5e;/*#8FA99A;*/ }
table.intbnav	td	{padding-right: 10px; padding-left: 10px; vertical-align: middle; border-right: #FFFFFF 1px solid;}
table.intbnav	td.last	{text-align1: center; border-right: none;}
table.intbnav	td a	{color: #FFFFFF;}

td.wslogan	{color: #FFFFFF; font-size: 21px; font-weight: normal; padding-right: 90px; padding-left: 10px; }
td.wtitle	{color: #FFFFFF; font-size: 100%; font-weight: bold; padding-right: 10px; padding-left: 20px; padding-top: 7px; vertical-align: top;}
td.abswtitle, td.abswtitle p	{color: #FFFFFF; font-size: 15px; font-weight: bold; padding-right: 10px; padding-left: 20px; vertical-align: top;}
td.abswtitle div	{position:relative; top: -5px; }
td.abswtitle1	{color: #FFFFFF; font-size: 16px; font-weight: bold; padding-right: 10px; padding-left: 1px; vertical-align: top;}
td.wtext	{color: #FFFFFF; font-size: 12px; font-weight: normal; padding-right: 10px; padding-left: 20px;}
td.wtext a	{color: #FFFFFF; font-size: 12px; text-decoration: underline;}
td.wtext a:hover	{color: #FFFFFF; font-size: 12px; text-decoration: underline;}
td.wtext a.white	{color: #FFFFFF; font-size: 12px; text-decoration: none;}     
td.wtext a.white:hover	{color: #FFFFFF; font-size: 12px; text-decoration: underline;}
td.wtext h1	{color: #FFFFFF; font-size: 23pt; font-weight: normal;  padding-left: 0px; margin: 30px 0 0 0;}

td.wtextl2	{color: #FFFFFF; font-size: 12px; font-weight: normal; padding-right: 10px; padding-left: 20px;}
td.wtextl2 p	{color: #FFFFFF;}
td.wtextl2 a	{color: #FFFFFF; font-size: 12px; text-decoration: underline;}
td.wtextl2 a:hover	{color: #FFFFFF; font-size: 12px; text-decoration: underline;}
td.wtextl2 a.white	{color: #FFFFFF; font-size: 12px; text-decoration: none;}     
td.wtextl2 a.white:hover	{color: #FFFFFF; font-size: 12px; text-decoration: underline;}
td.wtextl2 h1	{color: #FFFFFF; font-size: 23pt; font-weight: normal;  padding-left: 0px; margin: 30px 0 0 0;}

div.wtitle	{color: #FFFFFF; font-size: 15px; font-weight: bold; padding-right: 1px; padding-top: 1px; }
div.wtitle1	{color: #FFFFFF; font-size: 16px; font-weight: bold; padding-right: 1px; padding-top: 0px; }

a.white		{color: #FFFFFF; text-decoration: none;}
a.white:hover	{color: #FFFFFF; text-decoration: underline;}

table.prod			{font-size: 100%; background: #8cb0d4; }
table.usl			{font-size: 100%; background: #aca2cf; }
table.khow			{font-size: 100%; background: #89c768; }
table.buy			{font-size: 100%; background: #b8948a; }
table.org			{font-size: 100%; background: #e1c660; }

table.prod td.wmenu	{color: #FFFFFF; font-size: 12px; font-weight: normal; }
table.prod td.wmenu a	{color: #FFFFFF; font-size: 12px;}

table.prod td.wtext h1	{color: #FFFFFF; font-size: 23pt; font-weight: normal;  padding-left: 0px; margin: 0;}

table.any			{font-size: 100%; }
table.any p			{ color:#fff; }
table.any	td.wtext a	{color: #FFFFFF; text-decoration: none;}
table.any	td.wtext a:hover	{color: #FFFFFF; text-decoration: underline;}

td.nav		{font-size: 12px; padding: 3px 10px 3px 25px; color: #FFFFFF; font-weight: bold;}
td.nav a	{font-size: 12px; color: #FFFFFF; text-decoration: none;}
td.nav a:hover	{font-size: 12px; color: #FFFFFF; text-decoration: underline;}
td.wnav		{background: #FFFFFF; font-size: 12px; padding: 10px 25px; color: #747474; vertical-align: top;}
td.wnav a	{font-size: 12px; color: #747474; text-decoration: underline;}
td.wnav a:visited	{font-size: 12px; color: #4C8C63; text-decoration: underline;}
td.wnav a:hover		{font-size: 12px; color: #173488; text-decoration: underline;}
td.wnav a.cur 	{font-size: 12px; color: #173488; text-decoration: underline;}
td.wnav a.cur:visited	{font-size: 12px; color: #173488; text-decoration: underline;}
td.wnav a.cur:hover	{font-size: 12px; color: #173488; text-decoration: underline;}
td.wnav1	{background: #FFFFFF; font-size: 90%; padding: 10px 25px 10px 10px; color: #747474; vertical-align: top;}
td.wnav1 a	{font-size: 90%; color: #747474; text-decoration: none;}
td.wnav1 a:hover	{font-size: 90%; color: #747474; text-decoration: underline;}
td.wnav div	{padding-top: 3px;}

table.cont		{}
table.cont td		{vertical-align: top;}
table.cont td.btm	{vertical-align: bottom;}
table.cont td.btm img	{margin: 10px 5px 0px 5px; }
table.cont td.btm h1	{margin: 0.5em 0; padding-left: 5px; font-size: 100%; font-weight: normal; color: #858585;}
table.cont td.text	{font-size: 80%; padding-right: 10px; padding-left: 10px; color: #747474;}
table.cont td	h1	{margin: 0.5em 0; padding-left: 5px; font-size: 100%; font-weight: bold; color: #8FA99A;}
table.cont td	p.h1	{margin: 0.5em 0; padding-left: 5px; font-size: 100%; font-weight: bold; color: #8FA99A;}
table.cont td.text	h1	{margin: 0 0 0.5em 0; padding-left: 5px; font-size: 170%; font-weight: normal; color: #858585;}
table.cont td.text	h2	{margin: 0 0 0.5em 0; font-size: 170%; font-weight: normal; color: #858585;}
table.cont div.title	h1	{margin: 0 0 0.5em 0; padding-left: 0px; font-size: 120%; font-weight: normal; color: #9FB9AA;}
table.cont div.title	h2	{margin: 0 0 0.5em 0; font-size: 100%; font-weight: bold; color: #858585;}
table.cont td.text	a	{color: #747474; text-decoration: underline;}
table.cont td.text	a:visited	{color: #4C8C63; text-decoration: underline;}
table.cont td.text 	a:hover	{color: #173488; text-decoration: underline;}
table.cont td.text li	a	{color: #173488; text-decoration: none;}
table.cont td.text li	a:visited	{color: #4C8C63; text-decoration: none;}
table.cont td.text li	a:hover	{color: #173488; text-decoration: underline;}
table.cont td.text 	a.int	{color: #173488; text-decoration: none;}
table.cont td.text 	a.int:visited	{color: #4C8C63; text-decoration: none;}
table.cont td.text 	a.int:hover	{color: #173488; text-decoration: underline;}
table.cont td.text	a.file 	{color:#72B829; text-decoration: underline;}

table.catalog			{}
table.catalog td		{font-size: 100%; padding-top: 25px; padding-right: 25px;  vertical-align: top;}
table.catalog td.img		{padding-left: 30px; padding-right: 5px;}
table.catalog td.topbut		{text-align: right; padding-top: 1px;}

table.cattext			{}
table.cattext td		{padding-left: 1px; font-size: 12px; vertical-align: top; color: #859A8C; padding-right: 1px;} /* padding-top: 1px;  */
table.cattext td	div.head	{font-size: 16px; color: #859A8C; }
table.cattext td	a	{font-size: 16px; color: #859A8C; text-decoration: underline; font-weight: bold;}
table.cattext td	a:visited	{font-size: 16px; color: #4C8C63; text-decoration: underline; font-weight: bold;}
table.cattext td	a:hover	{font-size: 16px; color: #173488; text-decoration: underline; font-weight: bold;}
table.cattext td.hr		{background: #FFFFFF; padding: 0px;}
table.cattext tr.link   td	{padding-top: 15px; padding-left: 25px; padding-bottom: 5px;}
table.cattext td.text		{padding-left: 25px; padding-top: 5px;}
table.cattext td.text	a	{font-size: 100%; text-decoration: underline; color: #859A8C; font-weight: normal;}
table.cattext td.text	a:hover	{font-size: 100%; text-decoration: underline; color: #173488; font-weight: normal;}
table.cattext td.p5		{padding-left: 5px;}
table.cattext td.cattextdescr   {max-width:200px; width:expression(document.body.clientWidth > 200? "200px":"auto" );}

table.cattext1			{}
table.cattext1 td		{padding-left: 1px; font-size: 80%; vertical-align: top; color: #859A8C; padding-top: 1px; padding-right: 1px;}
table.cattext1 td	a	{font-size: 130%; color: #859A8C; text-decoration: none; font-weight: bold;}
table.cattext1 td	a:hover	{font-size: 130%; color: #859A8C; text-decoration: underline; font-weight: bold;}
table.cattext1 td.hr		{background: #859A8C; padding: 0px;}
table.cattext1 tr.link   td	{padding-top: 15px; padding-left: 25px; padding-bottom: 5px;}
table.cattext1 td.text		{padding-left: 25px; padding-top: 5px;}
table.cattext1 td.text	a	{font-size: 100%; text-decoration: underline; color: #859A8C; font-weight: normal;}
table.cattext1 td.text	a:hover	{font-size: 100%; text-decoration: underline; color: #173488; font-weight: normal;}

table.catimg			{}
table.catimg td	hr		{color: #859A8C; }

table.tmbimg			{font-size: 100%; }
table.tmbimg	td		{font-size: 11px; font-weight: bold; color: #859A8C; text-align: center}
table.tmbimg	td	a	{font-size: 11px; font-weight: bold; color: #859A8C; text-decoration: none;}
table.tmbimg	td	a:hover	{font-size: 11px; font-weight: bold; color: #859A8C; text-decoration: underline;}



/* === FEEDBACK === */
/*
table.feedback			{font-size: 100%; }
table.feedback	td		{color: #747474;}
table.feedback	td.input	{color: #FFFFFF; font-size: 15px;}
table.feedback	td.input	{color: #FFFFFF; padding-left: 5px; background: url(/images/search-l.gif) no-repeat left #4F5B5E; font-size: 9px;}
table.feedback	td.inputr	{color: #FFFFFF; background: url(/images/search-r.gif) no-repeat left; font-size: 9px;}
table.feedback	td select	{color: #FFFFFF; background: #4F5B5E;  border: none; font-size: 15px; width: 300px;}
table.feedback	td textarea	{font-family: Helvetica, Pragmatica, Sans-Serif, Arial, Verdana; color: #FFFFFF; background: #4F5B5E;  border: none; font-size: 11px; border-radius: 10px;}
*/

table.feedback			{font-size: 100%; }
table.feedback	td		{color: #747474;}
table.feedback	td.input,
table.feedback	td.input input,
table.feedback	td select,
table.feedback	td textarea
{
color: #FFFFFF;
background: #4F5B5E;
border: none;
font-size: 15px;
padding: 5px;
border-radius: 10px;
width: 300px;
font-family: Arial;
}
table.feedback	td select, table.feedback	td textarea	{width: 310px;}
table.feedback	td select	{padding: 9px; width: 310px;}
table.feedback	td input[type="image"]
{
width: 115px;
height: 20px;
border: 2px solid gray;
padding: 7px;
border-radius: 15px;
}





/*
table.kmore			{font-size: 100%; }
table.kmore	td		{color: #747474;}
table.kmore	td.input	{color: #FFFFFF; padding-left: 5px; background: url(/images/f-search-l.gif) no-repeat left; font-size: 9px;}
table.kmore	td.inputr	{color: #FFFFFF; background: url(/images/f-search-r.gif) no-repeat left; font-size: 9px;}
table.kmore	td.input input	{color: #FFFFFF; background: #aca2cf;  border: none; font-size: 9px;}
table.kmore	td select	{color: #FFFFFF; background: #aca2cf;  border: none; font-size: 9px;}
table.kmore	td textarea	{font-family: Helvetica, Pragmatica, Sans-Serif, Arial, Verdana; color: #FFFFFF; background: #aca2cf;  border: none; font-size: 11px;}
*/
table.kmore			{font-size: 100%; }
table.kmore	td		{color: #747474;}
table.kmore	td.input,
table.kmore	td.input input,
table.kmore	td select,
table.kmore	td textarea
{
color: #FFFFFF;
background: #aca2cf;;
border: none;
font-size: 15px;
padding: 5px;
border-radius: 10px;
width: 300px;
font-family: Arial;
}
table.kmore	td select, table.kmore	td textarea	{width: 310px;}
table.kmore	td select	{padding: 9px; width: 310px;}
table.kmore	td input[type="image"]
{
width: 115px;
height: 20px;
border: 2px solid gray;
padding: 7px;
border-radius: 15px;
}

/*
table.fprod			{font-size: 100%; }
table.fprod	td		{color: #747474;}
table.fprod	td.input	{color: #FFFFFF; padding-left: 5px; background: url(/images/b-search-l.gif) no-repeat left; font-size: 9px;}
table.fprod	td.inputr	{color: #FFFFFF; background: url(/images/b-search-r.gif) no-repeat left; font-size: 9px;}
table.fprod	td.input input	{color: #FFFFFF; background: #8cb0d4;  border: none; font-size: 9px; height: 13px;}
table.fprod	td select	{color: #FFFFFF; background: #8cb0d4;  border: none; font-size: 9px;}
table.fprod	td textarea	{font-family: Helvetica, Pragmatica, Sans-Serif, Arial, Verdana; color: #FFFFFF; background: #8cb0d4;  border: none; font-size: 11px;}
*/

table.fprod			{font-size: 100%; }
table.fprod	td		{color: #747474;}
table.fprod	td.input,
table.fprod	td.input input,
table.fprod	td select,
table.fprod	td textarea
{
color: #FFFFFF;
background: #8cb0d4;
border: none;
font-size: 15px;
padding: 5px;
border-radius: 10px;
width: 300px;
font-family: Arial;
}
table.fprod	td select, table.fprod	td textarea	{width: 310px;}
table.fprod	td select	{padding: 9px; width: 310px;}
table.fprod	td input[type="image"]
{
width: 115px;
height: 20px;
border: 2px solid gray;
padding: 7px;
border-radius: 15px;
}




/*
table.fbuy			{font-size: 100%; }
table.fbuy	td		{color: #747474;}
table.fbuy	td.input	{color: #FFFFFF; padding-left: 5px; background: url(/images/br-search-l.gif) #b8948a no-repeat left; font-size: 9px;}
table.fbuy	td.inputr	{color: #FFFFFF; background: url(/images/br-search-r.gif) no-repeat left; font-size: 9px;}
table.fbuy	td.input input	{color: #FFFFFF; background: #b8948a;  border: none; font-size: 9px; height: 13px;}
table.fbuy	td select	{color: #FFFFFF; background: #b8948a;  border: none; font-size: 9px;}
table.fbuy	td textarea	{font-family: Helvetica, Pragmatica, Sans-Serif, Arial, Verdana; color: #FFFFFF; background: #b8948a;  border: none; font-size: 11px;}
*/
table.fbuy			{font-size: 100%; }
table.fbuy	td		{color: #747474;}
table.fbuy	td.input,
table.fbuy	td.input input,
table.fbuy	td select,
table.fbuy	td textarea
{
color: #FFFFFF;
background: #b8948a;
border: none;
font-size: 15px;
padding: 5px;
border-radius: 10px;
width: 300px;
font-family: Arial;
}
table.fbuy	td select, table.fbuy	td textarea	{width: 310px;}
table.fbuy	td select	{padding: 9px; width: 310px;}
table.fbuy	td input[type="image"]
{
width: 115px;
height: 20px;
border: 2px solid gray;
padding: 7px;
border-radius: 15px;
}
table.fbuy	td input[type="image"]:hover {border-color: #CCC}



table.smap			{}
table.smap td.l1	a		{font-size: 16px; color: #173488; text-decoration: none;}
table.smap td.l1	a:visited	{font-size: 16px; color: #4C8C63; text-decoration: none;}
table.smap td.l1	a:hover		{font-size: 16px; color: #173488; text-decoration: underline;}
table.smap td.l2	a		{font-size: 14px; color: #173488; text-decoration: none;}
table.smap td.l2	a:visited	{font-size: 14px; color: #4C8C63; text-decoration: none;}
table.smap td.l2	a:hover		{font-size: 14px; color: #173488; text-decoration: underline;}
table.smap td.l3	a		{font-size: 12px; color: #173488; text-decoration: none;}
table.smap td.l3	a:visited	{font-size: 12px; color: #4C8C63; text-decoration: none;}
table.smap td.l3	a:hover		{font-size: 12px; color: #173488; text-decoration: underline;}
table.smap td.bg			{background: url(/images/menu/4.gif) repeat-y;}
table.smap td.bg1			{background: url(/images/menu/1/4.gif) repeat-y;}
table.smap td.bg2			{background: url(/images/menu/2/4.gif) repeat-y;}
table.smap td.bg3			{background: url(/images/menu/3/4.gif) repeat-y;}
table.smap td.bg4			{background: url(/images/menu/4/4.gif) repeat-y;}
table.smap td.bg5			{background: url(/images/menu/5/4.gif) repeat-y;}

table.smapf			{}
table.smapf td.l1	a		{font-size: 16px; color: #173488; text-decoration: none;}
table.smapf td.l1	a:visited	{font-size: 16px; color: #4C8C63; text-decoration: none;}
table.smapf td.l1	a:hover		{font-size: 16px; color: #173488; text-decoration: underline;}
table.smapf td.l2	a		{font-size: 14px; color: #173488; text-decoration: none;}
table.smapf td.l2	a:visited	{font-size: 14px; color: #4C8C63; text-decoration: none;}
table.smapf td.l2	a:hover		{font-size: 14px; color: #173488; text-decoration: underline;}
table.smapf td.l3	a		{font-size: 12px; color: #173488; text-decoration: none;}
table.smapf td.l3	a:visited	{font-size: 12px; color: #4C8C63; text-decoration: none;}
table.smapf td.l3	a:hover		{font-size: 12px; color: #173488; text-decoration: underline;}
table.smapf td.bg			{background: url(/images/fmenu/2.gif) repeat-y;}
table.smapf td.bg1			{background: url(/images/fmenu/1/2.gif) repeat-y;}
table.smapf td.bg2			{background: url(/images/fmenu/2/2.gif) repeat-y;}
table.smapf td.bg3			{background: url(/images/fmenu/3/2.gif) repeat-y;}
table.smapf td.bg4			{background: url(/images/fmenu/4/2.gif) repeat-y;}
table.smapf td.bg5			{background: url(/images/fmenu/5/2.gif) repeat-y;}

div.fleft			{float: left;}

div.path 			{font-size: 11px; color: #747474; margin-top: 4px; margin-bottom: 4px; height:12px}
div.path a			{font-size: 11px; color: #747474; text-decoration: underline;}
                                            
div.copy 			{font-size: 11px; color: #747474; margin-top: 4px; margin-bottom: 4px;}
div.copy a			{font-size: 11px; color: #747474; text-decoration: none;}
div.copy a:hover		{font-size: 11px; color: #747474; text-decoration: underline;}

div.print 			{font-size: 12px; color: #747474; margin-top: 10px;}
div.print a			{font-size: 12px; color: #747474; text-decoration: none;}
div.print a:hover		{font-size: 12px; color: #747474; text-decoration: underline;}


div.rmenu 			{margin-top: 4px; margin-bottom: 4px;}

div.text			{font-size: 80%; margin: 10px; color: #747474;}

a.file 				{color:#72B829;}

table.tcorn			{position:relative; top: 6px; z-index: 1;}
table.bcorn			{position:relative; top: -6px; z-index: 1;}
div.tcorn			{position:relative; top: 6px; z-index: 1;}
div.bcorn			{position:relative; top: -6px; z-index: 1;}
img.tcorn			{position:relative; top: 6px; z-index: 1;}
img.bcorn			{position:relative; top: -6px; z-index: 1;}

div.current			{color: #173488; }

li				{margin-bottom: 0.5em}

div.langsw 			{font-size: 12px; color: #495E50; }
div.langsw a			{font-size: 12px; color: #495E50; text-decoration: none;}

table.mainpt	td		{ font-size: 12px; vertical-align: top; }
table.mainpt	td.middle	{ padding-right: 10px; padding-left: 30px; border-right: #A4B4AA 1px solid;}
table.mainpt	td.last		{ padding-left: 30px; }
table.mainpt	td.green	{ background: #41ad49; /*#8FA99A;*/ }
table.mainpt	td.greenbottom	{ background: #41ad49;/*#8FA99A;*/ vertical-align: bottom; }
table.mainpt td h1		{ padding-left: 0px; padding-top: 0px; margin-top: 0px; }

div.intgreen,div.intgreen p	{padding-left: 15px; padding-top: 5px; font-size: 100%; color: #FFFFFF;}
div.intgreen p { padding-right: 20px}
div.intgreen a	{color: #FFFFFF;}

a.mainall 			{font-size: 11px; color:#4E5C69; text-decoration: none;}

table.mainptint	td	{ vertical-align: top; color: #495F51;}
table.mainptint	td a	{ color:#4f5b5e;/*#8FA99A;*/ text-decoration: none;}

div.pic_wrap {  overflow:hidden; }

ul.pic{
	float: left;
	margin-left: 0;
	padding-left: 10px;
}

ul.pic li {
        border1: 1px solid black;
        /*width: 180px;*/
        height: 280px;
        min-width: 180px;
        min-height: 280px;
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
        list-style: none;
}
/*ul.pic li.pic {width:420px; height:320px;}*/

ul.pic1{
	float: left;
	margin-left: 0;
	padding-left: 10px;
}

ul.pic1 li {
        border1: 1px solid black;
        width: 180px;
        height: 330px;
        min-width: 180px;
        min-height: 330px;
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
        list-style: none;
}

ul.pic2{
        float: left;
        margin-left: 0;
        padding-left: 10px;
}

ul.pic2 li {
        border1: 1px solid black;
        width: 360px;
        height: 180px;
        min-width: 360px;
        min-height: 180px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        list-style: none;
}

div.pic_wrap div.blk {
        border1: 1px solid black;
	float: left;
	width: 360px;
        height: 200px;
        min-width: 360px;
        min-height: 180px;
} 
div.pic_wrap div.blkbr {
        border1: 1px solid blue;
	float: none;
        height: 200px;
        min-width: 360px;
        min-height: 180px;
}

table.rep       td      { font-size: 12px; vertical-align: top; border: 1px solid black;}

table.newslist { font-size: 100%; }
table.newslist td { border: none; color: #FFFFFF; padding: 0px; margin: 0px; vertical-align: top; }

div.zone_action {margin-top:-10px;}

/*
.lSSlideOuter #image-gallery img {
animation: 20s kenBurnsZoomOut;
transform-origin: left top;
will-change: transform;
transition: transform 20s;
display: block;
position: absolute;
top: 0;
left: 0;
background-position: center;
background-size: cover;
width: 100%;
max-width: 100%;
width: auto;
height: auto;
transform: scale(1.2);
}

@keyframes kenBurnsZoomIn {
0% {
transform: scale(1.08);
}
100% {
transform: scale(1);
}
}
                
@keyframes kenBurnsZoomOut {
0% {
transform:scale(1.08)
}
100% {
transform:scale(1)
}
} */

.politic table td { color:white; font-size: 13px;}
.politic
{
position: fixed;
background: #4F5B5E;
color: white;
left: 0px;
right: 0px;
bottom: 20px;
z-index: 1;
padding: 15px;
border-radius: 0px;
opacity: 0.85;
}

.btn-coockie-politic 
{
border-radius: 15px;
font-size: 15px;
padding: 5px 15px;
margin: 0 20px;
}

.form-btn button
{
border-radius: 10px;
font-size: 13px;
padding: 8px 25px 8px 10px;
margin: 0 5px 0 0;
font-family: Arial;
color: #747474;
border: 1px solid #747474;
/*background: #4F5B5E;*/
}

.form-btn button span
{
border-radius: 15px;
font-size: 13px;
background: grey;
color:white;
margin-right: 5px;
}

.form-btn button.clear:hover > span {
background: red;
}

.form-btn button.clear span {
padding: 2px 6px 2px 5px;
}

.form-btn button.send span {
padding: 2px 5px 2px 6px;
}

.form-btn button.send:hover > span {
background: green;
}

